<div class="container">
    <table class="table caption-top">
      <caption class="text-center fw-bold">Elija un espectador para registrarle un ticket</caption>
      <thead class="bg-secondary text-white">
        <tr>
          <th scope="col">Apellido</th>
          <th scope="col">Nombre</th>
          <th scope="col">dni</th>
          <th scope="col">email</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of listaEspectadores">
          <td>{{t.apellido}}</td>
          <td>{{t.nombre}}</td>
          <td>{{t.dni}}</td>
          <td>{{t.email}}</td>
          <td>
            <div class="g-0">
              <button type="input" class="btn btn-primary rounded-2" (click)="registrarTicket(t.dni)">Registrarle Ticket</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  
</div>